# crystal
.cache/shards/*
tmp/
bin/
.shards/
*.dwarf
dist/

# do not ignore vendor/*/bin directories
!/vendor/*/bin/

vendor/gems/

# non-critical vendored crystal files
lib/**/.github/
lib/**/docs/
lib/**/examples/
lib/**/spec/

# secrets
creds.env
*.pem

# ignore coverage directory in the root
coverage/

# do not ignore lib/coverage directory
!/lib/coverage/

# ignore testing files
acceptance/projects/*/test-example.txt
acceptance/projects/*/ship-it.txt
acceptance/projects/*/result.txt
acceptance/logs/*

!acceptance/logs/.gitkeep
!acceptance/logs/expected.log

spec/outputs/*
!spec/outputs/.gitkeep

# files that come from vendor that we don't want / need
lib/cron_parser/bench
lib/crinja/scripts/**/*.py
