# crystal
.cache/shards/*
tmp/
bin/
.shards/
*.dwarf
dist/

# do not ignore vendor/*/bin directories
!/vendor/*/bin/


# non-critical vendored crystal files
lib/**/.github/
lib/**/docs/
lib/**/examples/
lib/**/spec/

# secrets
creds.env
*.pem

# ignore coverage directory in the root
coverage/

# do not ignore lib/coverage directory
!/lib/coverage/
